:root {
    --accent: 30, 30, 255;
    --surface-main: 240, 240, 240;
}

.window {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    max-width: 75%;
    max-height: 75%;
    overflow: auto;
    background-color: rgba(var(--surface-main), 0.7);
}